<nav class=" w-full flex justify-evenly gap-4 px-3 items-center ">
    <div class="mx-5">
        <a href="/">
            <h2 class="text-white text-xl font-bold">LOGO</h2>
        </a>
    </div>
    <div class="mt-2 flex items-center">
        <form class="" method="GET" action="{% url 'home' %}">
            <input class="align-middle border rounded" type="text" name="q" placeholder="Search Rooms..." />
        </form>
    </div>
    <div class="w-full">
        <ul class="flex flex-row justify-end gap-5 ">
            {% if request.user.is_authenticated %}
            <li>
                <p class="text-white text-lg">Hello {{request.user}}</p>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <span class="border rounded-lg px-4 py-2 cursor-pointer bg-rose-800 shadow-sm">
                        Logout
                    </span>
                </a>

            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    <span class="border rounded-lg px-4 py-2 cursor-pointer bg-sky-300 shadow-sm">
                        Login
                    </span>
                </a>

            </li>
            {% endif %}
        </ul>
    </div>
</nav>