{% extends 'main.html' %}


{% block content %}

<div class="grid grid-cols-5 gap-4 my-3 ">

    <div class="col-span-1">
        {% include 'base/topic_component.html' %}
    </div>

    <div class="col-span-3 mb-2">
        <div class="flex justify-between items-center">
            <div>
                <h4 class="text-white text-lg">ROOMS</h4>
                <h5 class="text-blue-200">{{room_count}} rooms available</h5>
            </div>


            <a class="text-blue-200 text-lg hover:text-white" href="{% url 'create-room' %}">
                <span class="border rounded-lg px-4 py-2 cursor-pointer">Create Room</span>
            </a>

            </span>
        </div>

        <div class="">
            {% include 'base/feed_component.html' %}
        </div>
    </div>
    <div class="col-span-1 px-2">
        {% include 'base/activity_component.html' %}
    </div>


</div>
{% endblock content %}