{% extends 'main.html' %}

{% block content %}

<div class="grid grid-cols-4 gap-4 my-3 p-4">

    <div class="col-span-3  ">

        <div class="border rounded p-2">
            <h1 class="text-white font-bold text-xl ">{{room.name}} </h1>

            <p class="px-4">{{room.description}}</p>
        </div>

        <div class="border rounded my-4 p-2">
            <h3 class="text-white font-bold text-base">Conversation</h3>
            <hr>

            {% for message in room_messages %}
            <div class="my-2">

                <small>@{{message.user}} {{message.created|timesince}} ago</small>
                {% if request.user == message.user %}
                <a class="mx-2 text-red-700 decoration-dashed hover:text-white" href="{% url 'delete-message' message.id %}">
                    Delete
                </a>
                {% endif %}
                <p class="my-2">{{message.body}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here..." />
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-span-1 ">
        <h3 class="text-white font-bold text-xl">Participants</h3>
        <hr>

        {% for user in participants %}
        <div  class="px-2">
            
            <p>@{{user.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}